@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-scroll {
  0%,
  20% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(var(--marquee-offset, 0px));
  }
}

.marquee-animate {
  animation: marquee-scroll 3s ease-in-out infinite alternate;
  display: inline-block;
  white-space: nowrap;
}

.datalist-input::-webkit-calendar-picker-indicator,
.datalist-input::-webkit-list-button {
  display: none !important;
  opacity: 0;
  width: 0;
  pointer-events: none;
}
